<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Сервис - сводка</title>
    <th:block th:insert="~{fragments/styles :: styles}"></th:block>
    <section layout:fragment="custom-scripts"></section>
</head>
<!--begin::Header Mobile-->
<!--begin::Body-->
<body  id="kt_body"  class="header-fixed header-mobile-fixed subheader-enabled page-loading"  >

<!--begin::Main-->
<th:block th:insert="~{fragments/header_mobile :: header_mobile}"></th:block>

<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

            <th:block th:insert="~{fragments/header :: header}"></th:block>

            <!--begin::Content-->
            <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">

                <th:block th:insert="~{fragments/subheader :: subheader}"></th:block>

                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class=" container ">
                        <section layout:fragment="content"></section>
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
            <!--end::Content-->

            <th:block th:insert="~{fragments/footer :: footer}"></th:block>

        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Main-->

<th:block th:insert="~{fragments/user_panel :: user_panel}"></th:block>

<th:block th:insert="~{fragments/quick_panel :: quick_panel}"></th:block>

<th:block th:insert="~{fragments/chat_panel :: chat_panel}"></th:block>

<th:block th:insert="~{fragments/scrolltop :: scrolltop}"></th:block>

<th:block th:insert="~{fragments/demo_panel :: demo_panel}"></th:block>

<th:block th:insert="~{fragments/scripts :: scripts}"></th:block>

<section layout:fragment="custom_scripts"></section>
</body>
</html>